@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    José wellington<br />
    Email: jw3996528@gmail.com<br />
    <abbr title="Phone">P:</abbr>
    11 975543636
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">jw3996528@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">jw3996528@gmail.com</a>
</address>
